<h1>Log In</h1>
<div id="login-form">
  
</div>
<script>
  window._pass = window._pass || {};
  _pass.session_id = <%= @pass_session_id %>;
  _pass.target = "login-form";
  // _pass.redirect_to = '';

  (function() {
    var t = document.createElement('script');
    t.type = 'text/javascript';
    t.async = true;
    t.src = 'https://passauth.net/pass.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
