<h1>Log In</h1>

<script>
  window._pass = window._pass || {};
  _pass.session_id = <%= @pass_session_id %>;
  _pass.target = "login_form";
  // _pass.redirect_to = '';

  (function() {
    var t = document.createElement('script'); t.type = 'text/javascript'; t.async = true; t.src = 'http://pass-server.dev/pass.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
